.homeWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.homeHeader {
    font-size: 6vw;
    color: #F0F0F0;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5vw;
    font-family: 'Oswald', sans-serif;
}

.homeSubHeader {
    color: #F0F0F0;
    display: flex;
    justify-content: center;
    margin-top: -2vw;
    margin-bottom: 0vw;
    font-size: 1.7vw;
    font-style: italic;
}
.homeSubHeader2 {
    color: #DDDDDD;
    display: flex;
    justify-content: center;
    margin: -2.25vw 0vw 1vw 0vw;
    font-size: 1.25vw;
}

.homeButton {
    align-items: center;
    display: flex;
    padding: .5vw;
    display: flex;
    justify-content: center;
}

.homeButton button {
    border: .15vw solid #F0F0F0;
    background-color: #2C365E;
    color: #6CD4FF; 
    font-weight: bold;
    border-radius: 10px;
    height: 4vw;
    width: 12vw;
    justify-items: space-between;
    font-size: 1.5vw;
}

.homeButton button:hover {
    border-color: #F0F0F0;
    color: #F0F0F0;
}

/*
#8e2de2
#4a00e0

*/