.playerList {
    width: 90%;
    display: flex;
    margin: auto;
}

.positionWrapper {
    padding: .5vw;
}

.positionTitle {
    color: white;
    font-size: 1.25vw;
    display: flex;
    justify-content: center;
    margin: 1vw 0vw 1vw 0vw;
}

.table {
    border: 2px solid white;
    border-radius: 10px;
    padding: .25vw 1vw .25vw 1vw;
    align-items: flex-start;
    background-color: white;
}

th {
   border-bottom: 1px solid black;
   padding: .5vw;
}

tr:nth-child(even) {
    background-color: #F1ECEE;
}

th {
    text-align: left;
}
td {
    text-align: center;
}
.names {
    text-align: left;
}

/*
#F1ECEE

*/